body {
    width: 600px;
    height: 600px;
    margin: 0px auto;   
}

div {
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=47970), auto;

}

.modal{
border: 1px solid black;
width: 100%;
height: 100%;
position: relative;
/* background-color: grey; */
background-image: url("../Images/7.png"); 
background-color: rgba(0, 0, 0, 0.5);   
text-align: center;

margin: auto;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2rem ;
    width: 24rem;
    border-radius: 1.8rem;
    background-color: rgba(0, 0, 0, 0.5);  

}
#logo{
background-image: 20px;
}

.row {
    /* border: 1px solid black; */
    text-align: center;
    /* color: blue; */
    margin: auto;
    width: 7.8rem;
    line-height: 2.5rem;
    font-size: 20px;
    text-align: center;
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=47970), auto;    
    border-radius: 0.65rem; 
    background-color: rgba(0, 0, 0, 0.2);  
}
.Information{

    text-align: center;
    margin: auto;
    width: 9rem;
    line-height: 2.5rem;
    text-align: center;
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=47970), auto;    
    background-color: rgba(0, 0, 0, 0.2); 
    border-radius: .65rem; 
    text-decoration: none;
    font-size: 20px;

}
a{
    text-decoration:none;
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=47970), auto;   
    font-family:verdana;


}
.Highscore{
    text-align: center;
    /* color: blue; */
    margin: auto;
    width: 8rem;
    line-height: 2.5rem;
    font-size: 20px;
    text-align: center;
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=47970), auto;    
    border-radius: 0.65rem; 
    background-color: rgba(0, 0, 0, 0.2);  
    
}
.Information:hover, .Highscore:hover, .row:hover
{
    color:#DDD;
    background-color: #999;
}

#logo{
    height: 100px;
    width: 100px;


}
.HScore{
    text-align: left;
   block-size: 20%;
  font-family:verdana;

  
}
.Instuct{

 text-align: center;
    margin: auto;
    width: 9rem;
    line-height: 2.5rem;
    text-align: center;
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=47970), auto;    
    background-color: rgba(0, 0, 0, 0.2); 
    border-radius: .65rem; 
    text-decoration: none;
    font-size: 20px;
    font-family:verdana; 
}

b{

    font-family:verdana; 
}

#cute{

    height: 100px;
    width: 100px;

}