body {
    width: 600px;
    height: 600px;
    margin: 0px auto;
  
    
}


.Gameo
div {
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=47970), auto;

}


.container {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    position: relative;
    /* background-color: pink; */
    background-image: url("../Images/img3.png");
    text-align: center;
    margin: auto; 
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=47970), auto;
    }
.object {
    width: 52px;
    height: 52px;
    left: 0px;
    position: absolute;
}
.object img{
    width: 60px;
    height: 60px;

    



/*    @-webkit-keyframes imgFade
{
        from {background: #FFF;}
        to {background: url(imagehere.jpg) 0 -120px;}
    }

    @keyframes imgFade
{
        from {background: #FFF;}
        to {background: url(img3.png) 0 -120px;}
    }
} *
